<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>FirstFilter</filter-name>
        <filter-class>dunggla.controller.FirstFilter</filter-class>
    </filter>
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>dunggla.controller.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FirstFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>RequestListener</description>
        <listener-class>dunggla.listener.UpdateQuantityServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>dunggla.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewItemServlet</servlet-name>
        <servlet-class>dunggla.servlets.AddNewItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllServlet</servlet-name>
        <servlet-class>dunggla.servlets.ShowAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>dunggla.servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMultiRowServlet</servlet-name>
        <servlet-class>dunggla.servlets.UpdateMultiRowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMultiRowServlet</servlet-name>
        <servlet-class>dunggla.servlets.DeleteMultiRowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDetailServlet</servlet-name>
        <servlet-class>dunggla.servlets.UpdateDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailServlet</servlet-name>
        <servlet-class>dunggla.servlets.ShowDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemServlet</servlet-name>
        <servlet-class>dunggla.servlets.DeleteItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>dunggla.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCart</servlet-name>
        <servlet-class>dunggla.servlets.ShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>dunggla.servlets.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartServlet</servlet-name>
        <servlet-class>dunggla.servlets.RemoveCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>dunggla.servlets.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmCartServlet</servlet-name>
        <servlet-class>dunggla.servlets.ConfirmCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <servlet-class>dunggla.servlets.SearchHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllHistoryServlet</servlet-name>
        <servlet-class>dunggla.servlets.ShowAllHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBillDetailServlet</servlet-name>
        <servlet-class>dunggla.servlets.ShowBillDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDetailInBillServlet</servlet-name>
        <servlet-class>dunggla.servlets.SearchDetailInBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuggessPopularServlet</servlet-name>
        <servlet-class>dunggla.servlets.SuggessPopularServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewItemServlet</servlet-name>
        <url-pattern>/AddNewItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllServlet</servlet-name>
        <url-pattern>/ShowAllServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMultiRowServlet</servlet-name>
        <url-pattern>/UpdateMultiRowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMultiRowServlet</servlet-name>
        <url-pattern>/DeleteMultiRowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDetailServlet</servlet-name>
        <url-pattern>/UpdateDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailServlet</servlet-name>
        <url-pattern>/ShowDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemServlet</servlet-name>
        <url-pattern>/DeleteItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCart</servlet-name>
        <url-pattern>/ShoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartServlet</servlet-name>
        <url-pattern>/RemoveCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmCartServlet</servlet-name>
        <url-pattern>/ConfirmCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <url-pattern>/SearchHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllHistoryServlet</servlet-name>
        <url-pattern>/ShowAllHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBillDetailServlet</servlet-name>
        <url-pattern>/ShowBillDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDetailInBillServlet</servlet-name>
        <url-pattern>/SearchDetailInBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuggessPopularServlet</servlet-name>
        <url-pattern>/SuggessPopularServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>-->
    <resource-ref>
        <res-ref-name>lab2</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
